{% extends "base.html" %}

{% block title %}Ping Pong Ladder User Details{% end %}

{% block head %}
<style>
@import "//ajax.googleapis.com/ajax/libs/dojo/1.8/dojox/grid/resources/claroGrid.css";
</style>

<script src="/static/match_store.js"></script>
<script>
    require(["dojo/parser", 
             "dojo/domReady!", 
             "dojo/ready", 
             "dojo/on",  
             "dojo/_base/lang", 
             "dijit/registry", 
             "dijit/layout/BorderContainer", 
             "dijit/layout/ContentPane", 
             "dijit/form/Button", 
             "dojox/grid/DataGrid",
             "dojo/data/ObjectStore",
             "dojo/store/JsonRest"], 
    function(parser, domReady, ready, on, lang, registry, BorderContainer, ContentPane, Button, DataGrid, ObjectStore, JsonRest){
        parser.parse();
        
        ready(function() {
            //var matches_grid = registry.byId("matches_grid");
            
            on(matches_grid, "rowClick", function(evt) {
                var item = matches_grid.getItem(evt.rowIndex);
                document.location.href = '/Leaderboard/Head-to-Head/' + item.winner_id + '/' + item.opponent_id;
{#                document.location.href = '/Leaderboard/Match-History/' + item.id;#}
            });
            
            function dateFormatter(date, rowIndex) {
                var rowdata = this.grid.getItem(rowIndex);
                var d = new Date(date*1000);
                return d.toLocaleString();
            }
            
            function opponentsFormatter(oid, rowIndex) {
                var rowdata = this.grid.getItem(rowIndex);
                return rowdata.winner_displayname + " VS " + rowdata.opponent_displayname;
            }
            
            function outcomeFormatter(wscore, rowIndex) {
                var rowdata = this.grid.getItem(rowIndex);
                return rowdata.winner_score + ":" + rowdata.opponent_score;
            }
            
            var structure = [
                {name: 'Date', field: 'date', width: '25%', formatter: dateFormatter},
                {name: 'Opponents (Victor first)', field: 'opponent_id', width: '60%', formatter: opponentsFormatter},
                {name: 'Outcome', field: 'winner_score', width: '15%', formatter: outcomeFormatter}
            ];
            
            matches_grid.set('escapeHTMLInData', false);
            matches_grid.set('structure', structure);
            var user_matches_store = new JsonRest({target: "/Leaderboard/User-Match-History/data/{{ target_user.id }}"});
	    var userMatchStore = new ObjectStore({objectStore: user_matches_store});
            matches_grid.setStore(userMatchStore);
            matches_grid.startup();
        });
    });
</script>

{% end %}

{% block body %}

<div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center'">

        <center style="font-size: xx-large;">{{ target_user.displayname }}</center>
        <br>

        {% if target_user.showemail %}
        <center>{{ target_user.email }}</center>
        {% end %}
        
        <br><br>

        <div id="simplechart" style="width: 90% height: 150px; "></div>

        <script>
        var rankStore = null;

        require(["dojo/data/ObjectStore", "dojo/store/JsonRest"], function(ObjectStore, JsonRest) {
            rankStore = new JsonRest({
                target: "/Leaderboard/{{ target_user.id }}/rank/"
            });
        });
        
        require(["dojox/charting/Chart", 
                 "dojox/charting/axis2d/Default", 
                 "dojox/charting/plot2d/Lines", 
                 "dojo/ready",
                 "dojox/charting/StoreSeries"],
          function(Chart, Default, Lines, ready, StoreSeries){
          ready(function(){
            
            var store_series = new StoreSeries(rankStore, {}, {x: 'timestamp', y: 'rank'});
            
            var labelxaxis = function(text, value, precision){
                var d = new Date(value*1000);
                return d.toLocaleString();
                //return d.toDateString();
            };
            
            var chart1 = new Chart("simplechart", {title: "Rating"});
            chart1.addPlot("default", {type: Lines});
            chart1.addAxis("x", { labelFunc: labelxaxis });
            chart1.addAxis("y", { vertical: true });
            chart1.addSeries("Series 1", store_series);
            chart1.render();
          });
        });
        </script>
        <br><br>


    <table data-dojo-id="matches_grid" data-dojo-type="dojox/grid/DataGrid" style="height: 100%">
        <script type="dojo/method" data-dojo-event="onStyleRow" data-dojo-args="row">
            var item = this.getItem(row.index);
            if(item){
                var winner = this.store.getValue(item, "winner_id", null);
                if(winner == {{ target_user.id }}){
                    row.customStyles += "color:green;";
                }
            }
        </script>
      <thead>
        <tr>
          <th field="date" width="20%">Date</th>
          <th field="opponents" width="65%">Opponents (Victor first)</th>
          <th field="outcome" width="15%">Outcome</th>
        </tr>
      </thead>
    </table>

</div>

{% end %}

{% block action_bar %}{% end %}

{% block cookie_crumb_bar %}
<a href="/Leaderboard">Leaderboard</a> --
<a href="/Leaderboard/{{ target_user.id }}">{{ target_user.displayname }}</a>
{% end %}
